* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body, main {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

a, a:visited {
  text-decoration: none;

  color: inherit;
}

.start, section {
  color: white;
  border-radius: 5px;
  background-color: #34495e;
}

.start {
  padding: 5px 15px;
}

.right {
  background-color: inherit;
}

section {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
}

section > div {
  max-width: 500px;
  padding: 0 30px;
}

@media only screen and (min-width: 750px) {
  main {
    flex-direction: row;
  }

  h1, p {
    text-align: right;
  }
}
