* {
  box-sizing: border-box;
}

main, header {
  max-width: 80%;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;
}

h1 {
  margin: 0 auto;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
}

section {
  width: 100%;
  min-height: 250px;
  margin: 15px 0;
  padding: 0 30px;
}

form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 5px;
}

fieldset {
  display: flex;
  flex-direction: column;

  margin: 5px;

  border: none;
}

input {
  max-width: 50%;
  margin: 0 5px;
}

.message {
  text-align: center;
}

.error {
  font-family: monospace;

  color: red;
}

h1, h2, h3 {
  text-align: center;
}

input[type=submit] {
  width: 50%;
  margin: 0 auto;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.opening {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opening-info {
  display: flex;
  justify-content: space-between;

  width: 300px;
}

@media only screen and (min-width: 700px) {
  fieldset {
    display: inline-block;
  }

  header, main {
    width: 550px;
  }
}
