* {
  box-sizing: border-box;
}

main, header {
  max-width: 80%;
}

a, a:visited {
  text-decoration: none;
}

legend {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;
}

h1 {
  margin: 0 auto;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
}

section {
  width: 100%;
  min-height: 250px;
  margin: 15px 0;
  padding: 0 30px;

  border-radius: 15px;
}

form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

form > div.row {
  display: flex;
  flex-wrap: wrap;

  margin: 20px 0;
}

fieldset {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;

  margin: 5px;

  border: none;
}

input {
  margin: 0 0 0 8px;
}

.message {
  text-align: center;
}

.error {
  font-family: monospace;

  color: #ffe5e5;
}

h1, h2, h3 {
  text-align: center;
}

input[type=submit] {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

label {
  white-space: nowrap;
}

section {
  width: 100%;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.username {
  min-width: 20px;
}

@media only screen and (min-width: 700px) {
  header, main {
    width: 550px;
  }
}
