* {
  box-sizing: border-box;
}

main, header {
  max-width: 80%;
}

img {
  max-width: 250px;
}

a, a:visited {
  text-decoration: none;
}

legend {
  font-weight: bold;
}

header {
  margin: 0 auto;
  padding-top: 10px;

  text-align: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
}

section {
  width: 100%;
  min-height: 250px;
  margin: 15px 0;
  padding: 0 30px;

  border-radius: 15px;
}

form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

form > div.row {
  display: flex;
  flex-wrap: wrap;

  margin: 15px 0;
}

fieldset {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;

  margin: 5px;

  border: none;
}

input {
  margin: 0 0 0 8px;
}

.message {
  text-align: center;
}

.error {
  font-family: monospace;

  color: #ffe5e5;
}

h1, h2, h3, p {
  text-align: center;
}

input[type=submit] {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

label {
  margin-bottom: 5px;

  white-space: nowrap;
}

section {
  width: 100%;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.username {
  min-width: 20px;
}

.hidden {
  display: none;
}

/* Tooltip */
.tooltip {
  position: relative;

  display: inline-block;

  border-bottom: 1px dotted white;
}

.tooltiptext {
  font-size: 12px;

  position: absolute;
  bottom: 125%;
  left: 50%;

  visibility: hidden;

  width: 120px;
  margin-left: -60px;
  padding: 5px;

  transition: opacity 0.3s;
  text-align: center;
  white-space: normal;

  opacity: 0;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  background: white;
}

.tooltip:hover .tooltiptext {
  visibility: visible;

  opacity: 1;
}

@media only screen and (min-width: 700px) {
  header, main {
    width: 550px;
  }
}
