* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 5px;
}

form fieldset {
  margin: 5px;

  border: none;
}

h1, h2, h3 {
  text-align: center;
}

input[type=submit] {
  width: 50%;
  margin: 0 auto;
}

table {
  text-align: left;
}

.opening {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opening-info {
  display: flex;
  justify-content: space-between;

  width: 300px;
}

.thumbnails {
  display: flex;
  flex-basis: 25%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
